/* css del navbar  */

nav {
    background-color: #333;
    padding: 1rem;
}

.navbar {
    background-color: #333;
}

.navbar-brand {
    color: white;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar a {
    color: white;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #4CAF50; 
}

.navbar-text {
    color: white;
    margin-left: 20px;
    transition: color 0.3s; 
    font-size: 2em;
}


.navbar-nav {
    margin-left: auto; 
}


.navbar-brand {
    margin-right: 20px;
}

/* css del footer  */

body {
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 0;
}
