.scrollable-container {
    max-height: 410px; 
    overflow-y: auto;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.precio {
    font-weight: bold;
    font-size: 18px;
}

.input {
    width: 50px; /* Puedes ajustar el ancho según tus preferencias */
    /* Otros estilos que desees agregar */
}




