/* carta.css */

body {
    background-color: #D5EB9B!important;
    color: #ffffff;
}

.container {
    max-width: 600px;
}

.card {
    border: 1px solid #D5EB9B;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color:  #D5EB9B;
    color: #fff;
}

.card-body {
    padding: 20px;
    background-color: #343a40;

}

h3.my-custom-heading {
    color: #fff;
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
    width: 100px;
    margin-bottom: 10px;
}

button {
    background-color: #D5EB9B;
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #B4D28B;
}

.main-container {
    margin-bottom: 100px; 
}

.input-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-container {
    position: relative;
}

#direccionesGuardadas {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#direccionesGuardadas li {
    cursor: pointer;
}

#direccion:focus + #direccionesGuardadas {
    display: block;
}








