.sugerencias-desplegable {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.sugerencia-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sugerencia-item:hover {
    background-color: #f0f0f0;
}

.input-group .btn { 
    left: 10px;
}