body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.scroll-container {
    max-height: 40vh; 
    overflow-y: auto;
    margin-top: 20px; 
}

.fixed-alert {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999; }

