body {
    position: relative;
    font-family: 'Poppins', sans-serif!important;
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/imagen_fondo.jpg')!important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px); 
    z-index: -1;
     
}

.header {
    background-color: #333; 
    color: #D5EB9B; 
    
}

.bienvenido {
    color: #333; 
}

.login {
    padding: 2rem;
    border-radius: 10px;
}

footer {
    background-color: #333; 
    color: #D5EB9B; 
    padding: 1rem;
}
    
nav {
    background-color: #333; 
    padding: 1.5rem!important;

}

nav a {
    color: #D5EB9B; 
    text-decoration: none; 
    font-family: 'Poppins', sans-serif!important;

}

.bg-custom {
    background-color: #333; 
    color: #D5EB9B;
}

.btn-dark {
    background-color: #333;
    color: white;
    left: 40%;
    position: relative;
}

h1 { 
    font-family: 'Poppins', sans-serif!important;

}

.mb-3 {
    font-size: 18px!important;
}

img {
    width: 100%!important; 
    max-width: 400px!important; 
    height: auto; 
}

.espaciado-superior {
    position: relative;
    margin-bottom: 130px;
}




