.container {
    max-width: 800px;
    margin: 0 auto;
}

.messages-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #343a40; 
    padding: 10px;
    margin-bottom: 20px;
    background-color: #343a40; 
    color: white; 
    border-radius: 10px; 
}

.message {
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px; 
    background-color: #343a40; 
    padding: 10px;
}

.message p {
    margin-bottom: 5px;
}

.small {
    font-size: 100%;
    bottom: 0;
    top: -8px;
    position: relative;
    color: white; 
}

.form-group textarea {
    color: #343a40;
    background-color: #343a40; 
    border: 1px solid #343a40;
    border-radius: 5px; }

.btn-danger {
    width: 90px!important;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif!important;

    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/imagen_fondo.jpg')!important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px); 
    z-index: -1; 
}
