.img-perfil {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 0 auto; 
}

.text-center-btn {
    text-align: center;
}

.btn-modificar {
    margin-top: 15px;
}

.btn-cerrar-sesion {
    margin-top: px;
}
