.img-perfil {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 0 auto; /* Centra la imagen en el contenedor */
}

.text-center-btn {
    text-align: center;
}

.btn-modificar {
    margin-top: 15px;
}

.btn-cerrar-sesion {
    margin-top: 15px;
    margin-right: 1000px; /* Ajusta el margen izquierdo según sea necesario */
}
