.img-perfil {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 0 auto; 
}

.text-center-btn {
    text-align: center;
}

.btn-modificar,
.btn-cerrar-sesion,
.btn-ver-reservas,
.btn-mis-restaurantes {
    margin-top: 15px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.btn-container .btn {
    margin-right: 10px; 
}


body {
    background-color: #D5EB9B !important; 
}

.card {
    background-color: #343a40 !important; 
    color: white !important;
}

.table th,
.table td {
    color: white !important; 
    background-color: #343a40 !important; 

}

