/* registro.css */

body {
    background-color: #D5EB9B; 
    color: #333; 
}

.header {
    background-color: #333; 
    color: #D5EB9B; 
    padding: 1rem;
}

.container {
    margin-top: 2rem;
}

.footer {
    background-color: #333; 
    color: #D5EB9B; 
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #333; 
    color: #D5EB9B; 
    padding: 1rem;
}
    
nav {
    background-color: #333; 
    padding: 1rem;
}

nav a {
    color: #D5EB9B; 
    text-decoration: none; 
}


.btn-dark {
    background-color: #333;
    color: white;
}

