.scrollable-container {
    max-height: 700px;
    overflow-y: auto;
}

.scrollable-content {
    max-height: 300px;
    overflow-y: auto;
}

#confirmacion-reserva {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.custom-star-rating {
    display: inline-block;
    font-size: 1.5rem;
}

.custom-star-rating input {
    display: none;
}

.custom-star-rating label {
    cursor: pointer;
    color: #f39c12; /* Cambia el color de las estrellas a amarillo (#f39c12) */
    margin-right: 5px; /* Añade un pequeño margen entre las estrellas */
}

.custom-star-rating label:before {
    content: '\2605'; /* Estrella en Unicode */
    opacity: 0.5; /* Reduce la opacidad inicial */
    transition: opacity 0.25s;
}

.custom-star-rating input:checked ~ label:before {
    opacity: 1;
}

.custom-star-rating label:hover:before,
.custom-star-rating label:hover ~ label:before {
    opacity: 1;
}

.area-edicion {
    margin-top: 10px; /* Espaciado superior */
    padding: 10px; /* Relleno interno */
    border: 1px solid #ddd; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo */
}

/* Estilo opcional para resaltar visualmente el área de edición cuando está activa */
.area-edicion.active {
    border-color: #007bff; /* Cambia el color del borde cuando está activa */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Agrega una sombra */
}


body {
    position: relative;
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/imagen_fondo.jpg')!important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px); 
    z-index: -1; 
}

.container {
    margin-top: 20px;
}

.card {
    background-color: #343a40!important;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: #D5EB9B;
}

.btn-primary {
    background-color: #D5EB9B;
    border: 1px solid #D5EB9B;
}

.btn-primary:hover {
    background-color: #343a40;
    border: 1px solid #D5EB9B;
}

.custom-star-rating {
    color: #f39c12;
}

.custom-star-rating label:before {
    color: #f39c12;
}

.custom-star-rating input:checked ~ label:before {
    color: #f39c12;
}

.list-group {
    background-color: #343a40!important;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.list-group-item {
    margin-bottom: 10px;
}

.list-group-item:hover {
    background-color: #2a2f35;
}

.list-group-item a {
    color: #D5EB9B;
}

.list-group-item a:hover {
    color: #f39c12;
}

#comentarios-existentes {
    overflow-y: scroll;
    max-height: 400px;
    border: none!important;


}

#agregar-comentario,
#hacer-reserva {
    background-color: #343a40;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
}

#agregar-comentario .form-group label,
#hacer-reserva a {
    color: #D5EB9B;
}

#agregar-comentario .form-group label:hover, a:hover {
    color: #f39c12;
}

.media.mt-3 {
    width: 96%;
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 7px; 
    position: relative;
    bottom: 2px;
}

.media.mt-3 .btn {
    top: 20px; 
    position: relative;
}

.card mt-4 {
    margin-right: 10px;
}

.text-area {
    margin-bottom: 10px;
}

.text-area .btn {
    position: relative;
    top: 50px;
}

.main-container {
    margin-bottom: 100px; 
}

body {
    position: relative;
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/imagen_fondo.jpg')!important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px); 
    z-index: -1; 
}


.horarios {
    margin-bottom: 15px;
}

label {
    color: white!important;
    font-size: 25px;
    font-weight: 500;
}

.comentario_iniciasesion {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.alert {
    border:black 3px solid;
} 

.h1, h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p, label, h4 {
    font-family: 'Poppins', sans-serif!important;
}

.comentario_iniciasesion {
    font-size: 30px!important ;
    font-weight: bold;
}

.card-body a {
    text-decoration: underline green!important; 
    color: inherit!important;
    text-decoration-thickness: 2px!important;
}

.card-body a:hover  {
    text-decoration: none!important; 
    color: green!important; 
}

.social-share-links a {
    text-decoration: none!important;
    text-decoration-thickness: initial!important; 
}

.social-share-links a:hover {
    color: inherit!important; 
}
