.container {
    margin-top: 40px;
}

.alert-success-container {
    margin-bottom: 20px;
}


.reserva-container {
    max-height: 800px;
    overflow-y: auto;
}

.reserva-card {
    margin-bottom: 20px;
}


.btn-cancelar-reserva {
    margin-right: 10px;
}


.btn-modificar-reserva {
    margin-right: 10px;
}


.btn-return-admin {
    margin-top: 20px;
}
