
.scrollable-container {
    max-height: 600px; 
    overflow-y: auto; 
    margin-bottom: 20px; 
}

.alerta  {
    margin-bottom: 50px !important;
}

.reserva-container .alert.alert-success {
    margin-bottom: 20px;
}
